:root {
  --verdeescuro: #06aa48;
  --branco: #fefefe;
  --verdeclaro: #c1ead2;
}

* {
  font-family: "Baloo Bhaijaan 2", cursive;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  align-content: center;
  box-sizing: border-box;
  outline: none;
  max-width: 1920px;
}

.times {
  background-color: #3fa33f;
}

@media (max-width: 800px) {
  .times nav ul {
    display: none;
  }
}

.times nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 5px 0;
  margin: auto;
}

@media (max-width: 800px) {
  .times nav ul {
    display: none;
  }
}

.times li img {
  padding: 0 10px;
  align-items: center;
  max-width: 100%;
  align-items: center;
}
body {
  background-color: var(--branco);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-image: linear-gradient(
    rgba(22, 170, 12, 0.829),
    rgb(125, 219, 122)
  );
  border-radius: 20px;
  padding: 40px;
}

.noticias {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--verdeclaro);
  display: grid;
}

.noticias img {
  width: 800px;
  height: 450px;
}

@media (max-width: 670px) {
  .noticias img {
    width: 300px;
  }
}
@media (max-width: 570px) {
  .noticias img {
    height: 200px;
  }
}

.Enquete {
  height: 273px;
  width: 198px;
  margin-left: 62%;
  margin-top: 5%;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  box-shadow: rgb(208 208 208) 0px 0px 20px 8px;
  background: linear-gradient(to top, rgb(99, 192, 122), rgb(193, 234, 210));
  border-radius: 13%;
}

/*Descrição */
.Enquete-descrição {
  display: inline-grid;
  position: absolute;
  gap: 1em;
  flex-direction: column;
  background-image: linear-gradient(
    rgba(23, 170, 12, 0.801),
    rgba(125, 219, 122, 0.877)
  );
  height: 100%;
  width: 150%;
  bottom: 0px;
  margin-left: 5%;
  transition: all 1s cubic-bezier(0.18, 0.03, 0.29, 1.04);
  padding: 1rem;
  border-radius: 23%;
  text-align: center;
}

.input {
  display: TABLE-CAPTION;
  text-align: CENTER;
  margin-left: 40px;
  color: #206620;
  width: 100%;
}

/*Textos*/
.Título {
  font-size: 1.4em;
  font-weight: 700;
}

.Texto-body {
  font-size: 1em;
  line-height: 150%;
}

/* Hover states */

.Enquete:hover .Enquete-descrição {
  transform: translateY(100%);
}

main section {
  display: flex;
  justify-content: space-around;
}
main h1,
h2 {
  text-align: center;
  color: #06aa48;
  font-size: 40px;
}

.vídeos,
video {
  border-radius: 12px;
  display: inline-flex;
}

.area-noticias-caixa {
  display: grid;
  margin: 50px;
  align-items: center;
  justify-content: center;
}

.area-texto p {
  padding: 10px;
  max-width: 50px;
}

/*--------------estilos-da-validacao--------------*/

.helper-text {
  display: none;
  font-size: 0.8rem;
  color: darkred;
}

.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

textarea.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

textarea.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}
