:root {
  --verdeescuro: #06AA48;
  --branco: #FEFEFE;
  --verdeclaro: #C1EAD2;
}

* {
  font-family: "Baloo Bhaijaan 2", cursive;
  margin: 0 ;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  align-content: center;
  box-sizing: border-box;
  outline: none;
  max-width: 1920px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 40px 0px 40px;
  max-height: 100%;
  background-color: var(--verdeescuro);
  color: var(--branco);
}

.menu span {
  font-size: 50px;
  font-weight: bolder;
}

.navegacao nav ul {
  display: flex;
  align-items: center;
  background-color: var(--verdeclaro);
  justify-content: center;
  gap: 80px;

}

.navegacao li{
  color: black;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 20px;
  background-color: var(--verdeclaro);
}



.btn {
  margin: 20px 50px;
  background-color: var(--verdeescuro);
  border-radius: 5px;
  padding: 0 30px;
  font-size: 100%;
  font-weight: 700;
  width: 10%;
}

.btn a {
  color: var(--branco);
}
 /*-----hover-----*/
 .buscar:hover {
  transform: scale(1.3);
  transition: all 0.5s;
}
.redesociais a :hover{
transform: scale(1.1);
transition: all 0.5s;
}
.navegacao nav ul :hover{
  transform: scale(1.3);
  transition: all 0.5s;
  border: 1px solid var(--branco);
  }
/*-----hover-----*/

footer {
  background-color: var(--verdeescuro);
  display: flex;
  color: var(--branco);
  font-size: 30px;
  font-weight: bolder;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 250px;
}
