:root {
  --verdeescuro: #06aa48;
  --branco: #fefefe;
  --verdeclaro: #c1ead2;
}

* {
  font-family: "Baloo Bhaijaan 2", cursive;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  align-content: center;
  box-sizing: border-box;
  outline: none;
  max-width: 1920px;
}

.times {
  background-color: var(--verdeescuro);
  border: 1px solid var(--branco);
}

.times nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.times nav ul a li {
  width: 100px;
}

@media (max-width: 876px) {
  .times nav ul {
    display: none;
  }
}
@media (max-width: 900px) {
  .times img {
    width: 50%;
  }
}

/* banner */
/* carrossel */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-rotativo {
  width: 100%;
  height: 35vw;
  max-height: 550px;
  position: relative;
}

.banner-rotativo img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: opacity 2s;
}

.banner-rotativo img.selected {
  opacity: 1;
}
/* carrossel */

/* main-noticias */

.titulos {
  margin: 0 50px;
  font-size: 32px;
  font-weight: 800;
  max-width: 1920px;
}

.noticias {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--verdeclaro);
}
@media (max-width: 800px) {
  .noticias {
    display: grid;
  }
}
.noticias img {
  width: 400px;
}

.noticiasjogos {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  border-top: 2px solid var(--verdeescuro);
}
@media (max-width: 1200px) {
  .noticiasjogos {
    display: grid;
  }
}
.area-texto {
  padding: 10px;
  /*  max-width: 400px; */
}
@media (max-width: 570px) {
  .area-texto {
    font-size: 80%;
  }
}

.area-brasileirao-a img {
  max-width: 600px;
  align-items: center;
}
@media (max-width: 1300px) {
  .area-brasileirao-a img {
    max-width: 400px;
  }
}
