:root {
  --verdeescuro: #06aa48;
  --branco: #fefefe;
  --verdeclaro: #c1ead2;
}

* {
  font-family: "Baloo Bhaijaan 2", cursive;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  align-content: center;
  box-sizing: border-box;
  outline: none;
  max-width: 1920px;
}

.times {
  background-color: var(--verdeescuro);
  border: 1px solid var(--branco);
}

.times nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 40px 0px 40px;
}

@media (max-width: 876px) {
  .times nav ul {
    display: none;
  }
}
@media (max-width: 900px) {
  .times img {
    width: 50%;
  }
}

.titulos {
  margin: 0 50px;
  font-size: 32px;
  font-weight: 800;
  max-width: 1920px;
}

.videos {
  display: flex;
  gap: 10px;
}

@media (max-width: 840px){
  .videos {
    display: grid;
  }
}

.videos-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.videos-gr iframe {
  width: 960px;
  height: 510px;
}

@media (max-width: 1438px){
  .videos-gr iframe {
    width: 560px;
    height: 360px;
  }
}
@media (max-width: 975px){
  .videos-gr iframe {
    width: 460px;
    height: 260px;
  }
}

.videos-2 iframe {
  width: 470px;
  height: 250px;
}

@media (max-width: 1438px){
  .videos-2 iframe {
    width: 400px;
    height: 180px;
  }
}
@media (max-width: 975px){
  .videos-2 iframe {
    width: 370px;
    height: 160px;
  }
}
.noticias {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--verdeclaro);
}

.noticias img {
  width: 400px;
  height: 250px;
}

@media (max-width:670px){
  .noticias img {
    width: 300px;
  }
  
}
@media (max-width:570px){
  .noticias img {
    height: 200px;
  }
  
}
.area-noticiasjogos {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  border-top: 2px solid var(--verdeescuro);
}

@media (max-width: 840px){
  .area-noticiasjogos {
    display: grid;
  }
}

.area-texto {
  padding: 10px;
  max-width: 400px;
}
@media (max-width: 570px){
  .area-texto {
  font-size: 80%;
  }
}

table {
  font-size: 100%;
  font-weight: 700;
  border-collapse: collapse;
}

thead {
  background-color: var(--verdeclaro);
}

tbody td {
  padding: 0 10px;
}

tbody tr {
  border-collapse: collapse;
  border-bottom: 1px solid var(--verdeclaro);
  border-right: 5px solid var(--verdeclaro);
}

.btn {
  margin: 20px 50px;
  background-color: var(--verdeescuro);
  border-radius: 5px;
  padding: 0 30px;
  font-size: 100%;
  font-weight: 700;
}

.btn a {
  color: var(--branco);
}
